html,
body {
  height: 100vh;
  color: white;
  background: black;
}
.navbar .container .navbar-collapse ul li a {
  color: white;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.carousel-inner img {
  margin: auto;
}

.navbar,
.navbar-brand {
  z-index: 9;
  color: white;
}
#fullCarousel {
  position: relative;
  width: 100%;
  top: 0;
  transform: translateY(-60px);
}

.quienes {
  top: 0;
}

.qs-icon {
  background-color: #0dcaf0;
  width: 100%;
  text-align: center;
  height: 2rem;
  font-size: 1.8rem;
  vertical-align: middle;
}
